<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <title>FauEat</title>
</head>
<body>
<a href="#mainContent" class="skip-link">Menuju ke konten</a>
<header class="app-bar">
    <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand" tabindex="0">
        <h1>FauEat</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation" >
        <ul>
            <li><a href="#mainContent">Rest</a></li>
            <li><a href="#/like">Liked Rest</a></li>
            <li><a href="https://github.com/Rizky0606">About Us</a></li>
        </ul>
    </nav>
</header>

<div id="hero" class="hero" tabindex="0">
    <h3 align="center">Selamat Datang di FauEat</h3>
    <p align="center">Menampilkan Restoran Ternama Yang Ada <br>Di Indonesia</p>
    <picture>
        <source media="(max-width: 600px)" srcset="./images/heros/hero-image-small.jpg" type="image/jpeg">
        <source media="(min-width: 1200px)" srcset="./images/heros/hero-image-large.jpg" type="image/jpeg">
        <img class="hero__image" src="./images/heros/hero-image.jpg" alt="Gambar Background Makanan">
    </picture>
</div>

<main id="mainContent" tabindex="0"></main>
<footer tabindex="0">
    <p>Copyright &copy; 2022 - Fauzi Food</p>
</footer>
</body>
</html>
